<br>

<div class="container">
    <div class="row"> 
       <div class="col-12"> 
           <div class="tituloPagina">Alistados</div>
            <p-table #tabelaAlistado [paginator]="true" [rows]="10" [responsive]="true" [columns]="colunasTabela" [value]="alistados" [globalFilterFields]="['nome']">
 
               <ng-template pTemplate="caption">
                   <div class="container p-0">
                     <div class="row">

                        <div class="col-12 col-sm-12 col-md-4 col-lg-6 text-left botao-tabela">
                            <button class="btn btn-success" [disabled]="desabilitarBotoes || spinnerTabela" (click)="abrirDialogDeCadastrarAlistado()">
                                <i class="fas fa-fw" [ngClass]="spinnerTabela ? 'fa-spin fa-circle-notch' : 'fa-plus'"></i>
                                Novo alistado
                            </button>
                        </div>

                        <div class="col-lg-6 col-sm-12 col-12 text-right input-tabela">
                            <i class="fas fa-fw fa-search icone-busca mr-2"></i>
                            <input (input)="tabelaAlistado.filterGlobal($event.target.value, 'contains')"
                               class="form-control bloco m-0 largura-input-cabecalho btn-pesquisa mr-1 pr-0 "
                               style="display: inline !important;" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                         </div>
                     </div>
                 </div>
              </ng-template>
 
             <ng-template pTemplate="header" let-alistadoCabecalho>
                 <tr>
                     <th *ngFor="let cabecalho of alistadoCabecalho" [ngClass]="cabecalho.style" [pSortableColumn]="cabecalho.field">
                             <p-sortIcon [field]="cabecalho.field" *ngIf="cabecalho.field !== 'acao'"></p-sortIcon>
                             {{ cabecalho.header }}
                     </th>
                 </tr>
             </ng-template>
 
             <ng-template pTemplate="body" let-alistadoCorpo>
                 <tr>
                    <td class="texto-cabecalho">
                         <span class="ui-column-title">
                             CPF
                         </span>
                         {{ alistadoCorpo.cpf }}
                    </td>
                    <td>
                        <span class="ui-column-title">
                            Nome
                        </span>
                        {{ alistadoCorpo.nome }}
                   </td>
                   <td class="texto-cabecalho">
                        <span class="ui-column-title">
                            Refratário
                        </span>
                        {{ alistadoCorpo.refratario === 'N' ? "Não" : "Sim"}}
                    </td>
                    <td class="texto-cabecalho">
                         <span class="ui-column-title">
                            Ação
                         </span>
                         <button type="button" class="btn btn-warning text-white" [disabled]="desabilitarBotoes" pTooltip="Editar alistado"
                         (click)="abrirDialogDeEditarAlistado(alistadoCorpo)">
                            <i class="fas fa-fw fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger text-white ml-2" [disabled]="desabilitarBotoes" pTooltip="Dispensar alistado" (click)="abrirDialogDispensarAlistado(alistadoCorpo)">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                    </td>
                 </tr>
             </ng-template>
 
             <ng-template pTemplate="emptymessage" let-alistadoVazio>
                 <tr class="text-center">
                     <td class="altura-spinner text-center mt-3 pt-4" [attr.colspan]="alistadoVazio.length" *ngIf="spinnerTabela">
                          <p-progressSpinner [animationDuration]="'.75s'" strokeWidth="4" fill="#EEEEEE"></p-progressSpinner>
                     </td>
                     <td class="text-center" [attr.colspan]="alistadoVazio.length" *ngIf="!spinnerTabela">
                          Nenhum Registro Encontrado
                     </td>
                  </tr>
             </ng-template>
 
         </p-table>
       </div>
    </div> 	
 </div>


 <p-dialog [(visible)]="dialogCadastrarEditarAlistado" [draggable]="false" [closable]="false" [modal]="true"
    [resizable]="false" [blockScroll]="true" [closeOnEscape]="true" [style]="{'width': '25vw'}">
    
    <p-header>
        <b>{{this.cadastrarOuEditar ? "Cadastrar Alistado" : "Editar Alistado"}}</b>
    </p-header>
   
    <div class="row">
        <div class="col-12">
            <label for="nome">
                <b>Nome:</b>
                <span class="is-invalid text-danger" *ngIf="!nomeAlistadoCadastrarEditar" pTooltip="Campo obrigatório">*</span>
            </label>
            <input id="nome" style="width: 100%;" autocomplete="off" pInputText type="text" 
                [(ngModel)]="nomeAlistadoCadastrarEditar">
        </div>
        <div class="col-12 mt-2">
            <label for="cpf">
                <b>CPF:</b>
                <span class="is-invalid text-danger" *ngIf="!cpfAlistadoCadastrarEditar" pTooltip="Campo obrigatório">*</span>
            </label>
            <!-- <p-inputMask mask="999.999.999-99" [(ngModel)]="cpfAlistadoCadastrarEditar" placeholder="999.999.999-99"></p-inputMask> -->
            <input id="cpf" style="width: 100%;" autocomplete="off" pInputText type="text" 
                [(ngModel)]="cpfAlistadoCadastrarEditar" placeholder="000.000.000-00" ui-br-cpf-mask>
        </div>
        <div class="col-12 mt-2">
            <span class="mr-1">Refratário: </span>
            Sim
            <p-radioButton name="refratarioSim" value="S" [(ngModel)]="refratarioCadastrarEditar"></p-radioButton>
            Não
            <p-radioButton name="refratarioNao" value="N" [(ngModel)]="refratarioCadastrarEditar"></p-radioButton>
        </div>
    </div>
    
    <p-footer>
       
        <button [disabled]="spinnerConfirmar" class="btn btn-danger" (click)="fecharDialogDeCadastrarEditarAlistado()">
            <i class="fas fa-fw fa-times"></i>
            Cancelar
        </button>
        
        <button class="btn btn-success m-0"
            [disabled]="spinnerConfirmar"
            (click)="editarOuCadastrarAlistado()"
            >
            <i class="fas fa-fw" [ngClass]="spinnerConfirmar ? 'fa-spin fa-circle-notch' : 'fa-check'"></i>
            Confirmar
        </button>
        
    </p-footer>
  
</p-dialog>

<p-dialog [(visible)]="dialogDispensarAlistado" [draggable]="false" [closable]="false" [modal]="true"
    [resizable]="false" [blockScroll]="true" [closeOnEscape]="true" [style]="{'width': '25vw'}">
    
    <p-header>
        <b>Dispensar Alistado</b>
    </p-header>
   
    <div class="row">
        <div class="col-12 p-20">
            <p class="mt-1"><b>Motivo: </b></p>
            <textarea [(ngModel)]="mensagemMotivoDispensamento.motivo"
                autocomplete="off" class="textAreaEmail m-0 mt-1"> </textarea>
        </div>
    </div>
    
    <p-footer>
       
        <button [disabled]="spinnerConfirmar" class="btn btn-danger" (click)="fecharDialogDispensarAlistado()">
            <i class="fas fa-fw fa-times"></i>
            Cancelar
        </button>
        
        <button class="btn btn-success m-0"
            [disabled]="spinnerConfirmar"
            (click)="dispensarAlistado()">
            <i class="fas fa-fw" [ngClass]="spinnerConfirmar ? 'fa-spin fa-circle-notch' : 'fa-check'"></i>
            Confirmar
        </button>
        
    </p-footer>
  
</p-dialog>